body{
  padding: 0;
  margin: 0;
}

nav{
  background-color: #b95050;
  height: 65px;
  width: 100%;
}

p{
  margin: 0;
}

#portada-home{
  background-image: url("https://static1.squarespace.com/static/52d1f115e4b03405bcb62876/t/535eb668e4b00f49de274ea3/1523226416135/Chicago-Skyline-Enterprise.png");
  height: 30vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -94px;
}

.cuadricula {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-auto-rows: minmax(80px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  border: 2px solid #e1f5fe;
  border-radius: 5px;
  background-color: #01579b;
  //grid-auto-rows: 100px;
}

.cuadricula > div {
  border: 2px solid #e1f5fe;
  border-radius: 5px;
  background-color: #80d8ff;
  padding: 1em;
  color: #d9480f;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box2 {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 5;
}

.box3 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}

.box4 {
  grid-column-start: 1;
  grid-row-start: 5;
  grid-row-end: 8  ;
}

.box5 {
  grid-column-start: 2;
  grid-row-start: 5;
  grid-row-end: 8  ;
}
