body{
  padding: 0;
  margin: 0;
}

nav{
  background-color: #b95050;
  height: 65px;
  width: 100%;
}

p{
  margin: 0;
}

#portada-home{
  height: 30vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -94px;
}

.cuadricula {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-auto-rows: minmax(80px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  border: 2px solid #e1f5fe;
  border-radius: 5px;
  background-color: #80d8ff;
  /*** grid-auto-rows: 100px; ***/
}

.cuadriculax > div {
  border: 2px solid #e1f5fe;
  border-radius: 5px;
  background-color: #80d8ff;
  padding: 1em;
  color: #d9480f;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box2 {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 5;
}

.box3 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}

.box4 {
  grid-column-start: 1;
  grid-row-start: 5;
  grid-row-end: 8  ;
}

.box5 {
  grid-column-start: 2;
  grid-row-start: 5;
  grid-row-end: 8  ;
}

.menu {
      float:left ;
      width:30%;
      height:100%;
    }
.mainContent {
      float:right;
      width:75%;
      height:100%;
    }




/*Seccion OK*/
.container {
	display: grid;
	/*grid-template-columns: 25% 50% 25%;*/
	/*grid-template-rows: 300px 300px;*/
	/*grid-template: 300px 150px / 25% 200px 25%;*/
	/*grid-template: 300px 100px 100px / repeat(3, 1fr);*/
	/*grid-template: 300px 100px 100px / repeat(3, minmax(200px, 1fr));*/
	/*grid-template: repeat(3, 1fr)/ repeat(3, 1fr);*/
	grid-template: 100px 1fr 150px/ 325px 2fr 1fr;
	/*grid-column-gap: 5px;*/
	/*grid-row-gap: 5px;*/
	grid-gap: 5px;
	height: 100vh;
	grid-template-areas: "header header header"
                             "left contenido right"
                             "footer footer footer";
}

.header {
	grid-area: header;
  	border-radius: 10px;
}

.left {
	grid-area: left;
  	border-radius: 10px;
}
.contenido {
	grid-area: contenido;
  	border-radius: 10px;
}
.right {
	grid-area: right;
  	border-radius: 10px;
}
.footer {
	grid-area: footer;
  	border-radius: 10px;
}


.item{
background: lightblue;
padding: 15px;
border: 1px solid red;
}

