body h1 {
  color: #gray;
  text-decoration: undderline;
}
body section div {
  background: lightblue;
  padding: 15px;
  border: 1px solid red;
}
body section iframe {
  background: lightblue;
  padding: 15px;
  border: 1px solid red;
}

.container {
  display: grid;
  grid-template: 100px 1fr 150px/325px 2fr 1fr;
  grid-gap: 5px;
  height: 100vh;
  grid-template-areas: "header header header" "left contenido right" "footer footer footer";
}

.header {
  grid-area: header;
  border-radius: 10px;
}

.left {
  grid-area: left;
  border-radius: 10px;
}

.contenido {
  grid-area: contenido;
  border-radius: 10px;
}

.right {
  grid-area: right;
  border-radius: 10px;
}

.footer {
  grid-area: footer;
  border-radius: 10px;
}

/*# sourceMappingURL=mainframesass.css.map */
