h1 {
  color: yellowgreen;
}

footer {
  background: 4444;
}
footer h4 {
  color: red;
}
footer h4 a {
  color: blue;
}

p {
  background: #f9ed69;
}

piramide {
  text-align: center;
  border: 5px
}

/*# sourceMappingURL=main.css.map */
