/*  reglas
    selectores
        selector de etiqueta (body, section, hero, ...)
        selector descencente (body  header hero a )
        selector de clase  (.hero)
        selector de id (#hero)
    declaraciones
    propiedades
valores*/

body {
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body header {
    background-color: purple;
    color: white;
    display: flex;
    margin: 0px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    padding: 0px 20px 0px 20px;
    text-decoration-color: white;
}   

body section {
    padding: 0px 150px 0px 150px;
}

a {
    text-decoration-color: white;
    text-decoration-line: unset;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 10px;
    text-decoration-color: white;
}

body footer {
    background-color: purple;
    height: 100px;
}

.navigator {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 10px;
}

.Hero {
    background-image: "walk_in_closet_m.jpg";
    background-repeat: repeat-x;
    width: fit-content;
}

.Sección_Secundaria {
    background-color: white;
}
