body {
    display: grid;
}

nav {
    display: grid;
    background-color: black;
    border-color: black;
    border-width: 1px;
}

.container .row .col-4 {
    background: white;
    border: 1px;
    border-color: black;
    font-size: 30px;
}

.hero .texto-encima {
    font-weight: 200;
}

nav > .container > a {
    font-weight: 10px;
    text-decoration-color: white;
}

.hero {
    background-image: url("C:\Users\ismae\pfullstack\IsmaelFajardo\walk_in_closet_m.jpg");
}

footer {
    background-color: black;
}