body section div {
  background: lightblue;
  padding: 15px;
  border: 1px solid red;
}

.container {
  display: grid;
  grid-template: 100px 1fr 150px/auto ;
  grid-gap: 5px;
  height: 100vh;
  grid-template-areas: "header header header"
                       "contenido contenido contenido"
                       "footer footer footer";
}

.header {
  grid-area: header;
  border-radius: 10px;
}

.left {
  grid-area: left;
  border-radius: 10px;
}

.contenido {
  grid-area: contenido;
  border-radius: 10px;
}

.right {
  grid-area: right;
  border-radius: 10px;
}

.footer {
  grid-area: footer;
  border-radius: 10px;
}


/*# sourceMappingURL=main.css.map */
