@import "variables";
$coloramarillo: #f9ed69;
h1 {
     color: yellowgreen;
}

footer{
        background: 4444;
        h4 {
             color: red;
             a {
                color: blue;
             }
        }
}

p {
    background: $coloramarillo;
}
