@import 'mixin.scss';
body{
       //font-size: 16px;
       //margin: 0;
       h1{
         color:#gray;
         text-decoration: undderline;
       }
       section{
         //height: 300px;
         //overflow: scroll;
         //background: lightblue;
         div{
           //height: 50px;
           //background: gray;
           //border: 1px yellow solid;
           //@include myMixin(blue,50px,50%,2px,back)
           background: lightblue;
           padding: 15px;
           border: 1px solid red;
         }
         iframe{
           background: lightblue;
           padding: 15px;
           border: 1px solid red;
         }
       }
}


.container {
	display: grid;
	grid-template: 100px 1fr 150px/ 325px 2fr 1fr;
	grid-gap: 5px;
	height: 100vh;
	grid-template-areas: "header header header"
                             "left contenido right"
                             "footer footer footer";
}

.header {
	grid-area: header;
  	border-radius: 10px;
}

.left {
	grid-area: left;
  	border-radius: 10px;
}
.contenido {
	grid-area: contenido;
  	border-radius: 10px;
}
.right {
	grid-area: right;
  	border-radius: 10px;
}
.footer {
	grid-area: footer;
  	border-radius: 10px;
}


//.item{
//background: lightblue;
//padding: 15px;
//border: 1px solid red;
//}
